/* The Cascade lesson style */
* {
    color: rgb(128, 0, 0);
    font-family: monospace, Arial, Verdana, sans-serif;
}

body a {
    text-decoration: none;
    color: #009900;
}

img {
    height: 500px;
    width: auto;
}

h1, h2 {
    font-weight: 1000;
}

.normal-text {
    font-size: 18px;
}

#main-header {
    font-size: 3em;
}

/* Block and Inline lesson */
body {
    margin: 0px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eeeeee;
}

.main {
    text-align: center;
    margin-top: 20px;
}

h1 {
    margin: 0 0 20px;
}

.main, .description, .ingredients, .steps {
    padding: 0 20px;
    margin-bottom: 50px;
}

.recipes {
    list-style-position: inside;
    text-align: center;
}

.recipes li {
    margin-bottom: 10px;
}

h2, p, ul, ol {
    margin: 0;
    margin-bottom: 10px;
}

.home-button {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}